 <!-------  projects section  -------->
 
 <div class="section" id="portfolio">
    <div class="container">
    <div class="row">

      <div class="col-md-6 ml-auto mr-auto" style="margin-bottom: -100px;">
        <div class="h4 text-center mb-4 title" >Proyectos</div>
      </div>
    </div>

    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="card-body">


              <div class="cc-porfolio-image img-raised" *ngFor="let item of proj_arr; let indice=index">
                <a href={{item.link}} target="_blank">
                  <figure class="cc-effect"><img style="display: block;margin-left: auto;margin-right: auto;width: 50%;" src={{item.img_url}} alt="Image"/>
                    <figcaption>
                      <div class="h4">{{item.nombre}}</div>
                      <p>{{item.tipo}}</p>
                    </figcaption>
                  </figure></a>
                <button *ngIf="hide" id={{item.id}} name={{item.nombre}} style="float: right;margin-top: -50px;margin-right: -40px;" (click)="delSkillBtn($event)">X</button>
              </div>

          
            <div class="card-body" *ngIf="hide">
                <div class="cc-porfolio-image img-raised" style="padding:10px 0px 10px 20px;">
                  <div class="row mt-3">
                    <input class="col-sm-6" type="text" name="nombre" placeholder="Nombre del proyecto" (focusout)="onInput($event)" onClick="this.select();"  />
                  </div>

                  <div class="row mt-3">
                    <input class="col-sm-6" type="text" name="tipo" placeholder="Tipo de proyecto" onClick="this.select();"(focusout)="onInput($event)" />
                  </div>

                  <div class="row mt-3">
                    <input type="url" class="col-sm-6" type="text" name="img_url" placeholder="Portada (Img_URL)" onClick="this.select();"(focusout)="onInput($event)" />
                  </div>

                  <div class="row mt-3">
                    <input type="url" class="col-sm-6" type="text" name="link" placeholder="Link del proyecto" onClick="this.select();"(focusout)="onInput($event)" onblur="if (!~this.value.indexOf('http')) this.value = 'https://' + this.value"/>
                    <button style=" margin-left:75%;margin-top: 10px;"  class="btn btn-primary" (click)="uploadProjBtn()">Agregar</button>
                    <button style=" margin-left:75%;margin-top: 10px;"  class="btn btn-primary" (click)="cancelEdit()">Cancelar</button>
                  </div>
              </div>
            </div>

            <button *ngIf="!hide" style=" margin-left:75%;margin-top: 10px;"  class="btn btn-primary" (click)="editVal()">Edit</button>

                  



















<!-- 
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Startup Project</div>
                      <p>Web Development</p>
                    </figcaption>
                  </figure></a></div>
            </div>

            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Food Order Project</div>
                      <p>Web Development</p>
                    </figcaption>
                  </figure></a></div>


              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Web Advertising Project</div>
                      <p>Web Development</p>
                    </figcaption>
                  </figure></a></div> -->


                </div>
          </div>
        </div>
      </div>
      
    