<header>

  <!-------  navigation bar section  -------->
  <div class="profile-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
      <div class="container">
        <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Portfolio Argentina Programa</a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">Sobre mi</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Habilidades</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experiencia</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Educación</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  

  <app-about></app-about>

  <app-skills></app-skills>

  <app-projects></app-projects>

  <app-experience></app-experience>

  <app-education></app-education>

<app-log-in></app-log-in>


 <!-------  Footer section  -------->
<footer class="footer">
  <div class="container text-center"><a class="cc-facebook btn btn-link" href="#"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
  <div class="h4 title text-center">Anthony Barnett</div>
  <div class="text-center text-muted">
    <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
  </div>
</footer>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/now-ui-kit.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/scripts/main.js"></script>
