<!-------  Experience section  -------->

 <div class="section" id="experience">
    <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Experiencia laboral</div>


<!-------  Loading Container  -------->
    <div *ngIf="!data_ok" class='load-container loading'>
      <div class='img-container'>
        <div class='img-loader'>
        </div>
      </div>
      <div class='load-content'>
        <div class='stripe small-stripe'>
        </div>
        <div class='stripe medium-stripe'>
        </div>
        <div class='stripe long-stripe'></div>
      </div>
    </div>


<!-------  Experience GET  -------->
    <div class="card" *ngFor="let item of exp_arr; let indice=index">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-experience-header">
            <p>{{item.desde}} - {{item.hasta}}</p>
            <div class="h5">{{item.titulo}}</div>
        </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{item.puesto}}</div>
            <p>{{item.descripcion}}</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary erase-btn" *ngIf="hide" id={{item.id}} style="float: right;cursor: pointer;" (click)="delExpBtn($event)"><mat-icon>delete</mat-icon></button>
    </div>
    
<!-------  Experience POST Input  -------->
    <div class="card" *ngIf="hide" style="margin-top: 25px;" >
      <strong class="h6 text-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%;padding-top: 10px;" >Crear nueva experiencia</strong>
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-experience-header">
            <p><input class="col-sm-6" type="text" name="desde" placeholder="Desde" (focusout)="onInput($event)" onClick="this.select();"/>
              <input class="col-sm-6" type="text" name="hasta" placeholder="Hasta" (focusout)="onInput($event)" onClick="this.select();" /></p>
            <div class="h5"><input class="col-sm-10" type="text" name="titulo" placeholder="Título" (focusout)="onInput($event)" onClick="this.select();" /></div>
        </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"><input class="col-sm-10" type="text" name="puesto" placeholder="Puesto" (focusout)="onInput($event)" onClick="this.select();" /></div>
            <p><input class="col-sm-10" type="text" name="descripcion" placeholder="Descripción" (focusout)="onInput($event)" onClick="this.select();" /></p>
            <button style=" margin-left:75%;margin-top: 10px;"  class="btn btn-primary" (click)="uploadExpBtn()">Agregar</button>
            <button style=" margin-left:75%;margin-top: 10px"  class="btn btn-primary cancel-btn" (click)="cancelEdit()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <button *ngIf="!hide && data_ok" style="margin-left:85%; margin-top:10px;" class="btn btn-primary btn-icon" (click)="editVal()"> <mat-icon>create</mat-icon> </button>


  </div>
  </div>