
<div class="section" id="login">

  <form class="m-5">

    <div class="container"> 

    <div class="h4 text-center mb-4 title">Iniciar sesión</div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Usuario:</label>
        <input type="text" id="form2Example1" class="form-control" name="user_name" (focusout)="loginInput($event)" />
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Contraseña:</label>
        <input type="password" id="form2Example2" class="form-control"  name="password" (focusout)="loginInput($event)" />
      </div>
    
      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="loginButton()">Sign in</button>

    </div>
  </form>

</div>