
<div class="section" id="login">

  <form class="m-5" (ngSubmit)="onSubmit($event)">

    <div class="container"> 

    <div class="h4 text-center mb-4 title">Iniciar sesión</div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Usuario:</label>
        <input type="text" id="user_name" class="form-control"/>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Contraseña:</label>
        <input type="password" id="password" class="form-control"/>
      </div>

      <!-- Submit button -->
      <input type="submit" class="btn btn-primary btn-block mb-4" value="Iniciar sesión">

      <h6 style="color:rgb(97, 97, 97);">{{login_status}}</h6>

    </div>
    
  </form>

</div>